#profile {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 1.0s ease;
}

#profile h2 {
  color: black;
}

#profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#profile p {
  margin: 10px 0;
}

.newbie {
  background-color: gray;
}

.pupil {
  background-color: green;
}

.specialist {
  background-color: cyan;
}

.expert {
  background-color: blue;
}

.candidate-master {
  background-color: purple;
}

/* Adicione mais classes conforme necessário */
